.DS_Store
*.root
__pycache__/
MadGraph5_aMCatNLO/
PPP1_4.pdf
commented-report_ResearchActivities.pdf
data.nosync/

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

*.bcf
*.nav
*.run.xml
*.snm