.DS_Store
*.root
data.nosync/
__pycache__/
MadGraph5_aMCatNLO/

PPP1_4.pdf
MarinoJavier_researchActivities_report.pdf
commented-report_ResearchActivities.pdf

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

*.bcf
*.nav
*.run.xml
*.snm